.body{
   text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    background-color:white;
}

  .text-4{
    animation: color-change 5s infinite;
  }
  
  @keyframes color-change {
    0% { color: yellow; }
    25% { color: tomato; }
    50% { color: blue; }
    75% { color: #5485d0; }
    100% { color: #64f386; }

  }
  
.container{
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    background-image: url('moon.jpg');
}

@media screen and (min-width:500) {
    .container{
        width: 500px;
        height: 500px;
    }
}

.img{
    background-color: transparent;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  #hover-area:hover{
    font-size: 35px;
  }